@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NOSOTROS</h1>
   <h5 class="display-5">pirannia</h5>

<h5 class="display-5">Creamos productos masivos como soporte de una revolución de experiencias donde cuestionar lo establecido nos mantiene despiertos. </h5>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
